.switch {
  position: relative;
  display: inline-block;
  width: 75px;
  color: #000;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  height: 29px;
  background-color: #ebedef;
  border: 1px solid #d5d5d5;
}

.switch.off,
.switch.on {
  border-radius: 25px;
  padding: 5px;
  cursor: pointer;
}

.switch.off:before,
.switch.off:after {
  -webkit-transition: 0.6s;
  transition: all 0.6s;
}

.switch.on:before,
.switch.on:after {
  -webkit-transition: 0.6s;
  transition: all 0.6s;
}

.switch.off:before,
.switch.on:before {
  display: block;
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 8px;
  top: 5px;
  background-color: #19a276;
  -webkit-transition: 0.6s;
  transition: all 0.6s;
  -webkit-transition-delay: 0.01s;
  transition-delay: 0.01s;
  -moz-box-shadow: inset -8px -8px 6px -6px #19a276;
  -webkit-box-shadow: inset -8px -8px 6px -6px #19a276;
  border-radius: 50%;
  box-shadow: inset -8px -8px 6px -6px #19a276;
}

.switch.off:after {
  display: block;
  position: absolute;
  /*content: ": (";*/
  -o-transform: rotate(-270deg);
  -webkit-transform: rotate(-270deg);
  -ms-transform: rotate(-270deg);
  transform: rotate(-270deg);
  left: 17px;
  top: 15px;
}

.switch.on:before {
  -webkit-transform: translateX(38px);
  -ms-transform: translateX(38px);
  transform: translateX(38px);
}

.switch.on:after {
  position: absolute;
  /*content: ": )";*/
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  left: 56px;
  top: 15px;
}
